body {
	font-family: 'Noto Sans', sans-serif;
	color: #001f3f;
	background-color: azure;
}

h3,h4 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

.quote {
	font-style: italic;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.i-am, .i-love {
	text-align: center;
	text-decoration: none
}

.projects-heading{
	text-align: center;
}	

.projects-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image {
	justify-self: center;
	padding: 4%;
}
@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}
}

.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}

.links {
	justify-self: center;
}

.links-list {
	list-style: none;
	padding: 0;
}
@media (max-width: 650px) {
	.links-and-contact {
		grid-template-columns: 100%;
	}
}

.profile-picture {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .30);
	transition: all ease-in-out .2s;
}

.profile-picture:hover {
	box-shadow: 0 12px 20px 1px rgba(34, 60, 80, .30);
}

.project-image {
	border-radius: 9%;
	width: 300px;
	height: 300px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .20);
	transition: all ease-in-out .2s;
}

.project-image:hover {
	filter: brightness(0.75);
	box-shadow: 0 8px 12px 1px rgba(34, 60, 80, .20);
}

.project-image-wrapper {
	justify-self: center;
	padding: 4%;
	position: relative;
}

.project-number {
	visibility: hidden;
}

.project-image-wrapper:hover > h4 {
	position: absolute;
	/* left: 50%; */
	top: 25%;
	left: 40%;
	transform: translate(0%, 200%);
	color: white;
	visibility: visible;
	z-index: 2;
	transition: all ease-in-out .5s;
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form {
	width: 250px;
	margin: 0 auto;
}

form input[type="submit"] {
	width: 250px;
	background-color: #80DEEA;
	border-color: #00ACC1;
}

.submit-button-wrapper {
	margin: 20px 0;
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

.container > div {
	margin: 20px auto;
}

hr {
	border: 0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}